/* css to view all programs by user below header */
#user{
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* css for entire programs to display as cards starts*/
.container{
   margin: auto;
}

* {
box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
float: left;
/* width: 50%; */
padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
.column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

#user{
  padding-top: 12.5rem;
  padding-bottom: 5.2rem;
}
}

/* Style the counter cards */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
background-color: #f1f1f1;
}

/* css for entire programs to display as cards ends*/

.alert-danger{
  color: #721c24;
   background-color: #f8d7da;
   border-color: #f5c6cb;
   font-size: 1rem;
   /* font-weight: 400; */
   line-height: 1.5;
   color: #212529;
   text-align: left;
}

.alert-warning {
 color: #856404;
 background-color: #fff3cd;
 border-color: #ffeeba;
}
.alert {
 position: relative;
 padding: .75rem 1.25rem;
 margin-bottom: 1rem;
 border: 1px solid transparent;
 border-radius: .25rem;
}