
/* css for header div to make it fixed */
#header{
  margin: 0;
  width: 100%;
  position: fixed;
  overflow: hidden; 
}

/* css for all header items */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #111;}
  
  /* ul.topnav li a.active {background-color: #4CAF50;} */
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;
    
    }
  }
  