
<!-- hero image starts -->
<img id="hero-img" src="../../assets/img/hero-image1.jpg" width="460" alt="Goldies Gym" height="325">
<!-- hero image ends -->

<div class="about-section"  style="margin-top:-5px;">
  <h1>Goldies Gym</h1>
  <p> Join Us today!!!</p>
  <p>Exercise not only changes your body, it changes your mind, your attitude and your mood</p>
</div>
<!-- centered text starts-->
<div class="center" >
    <h4>EXPLORE OUR WIDE RANGE OF PROGRAMS</h4>
  </div>
<!-- centered text ends -->

<!-- image gallery starts -->
<div id="gallery-id">
  <div class="gallery" >
    <div class="desc"> YOGA</div>
    <a target="_blank" href="../../assets/img/gallery-img-yoga.jpeg">
      <img src="../../assets/img/gallery-img-yoga.jpeg" alt="YOGA" width="600" height="400">
    </a>
  </div>
  
  <div class="gallery">
    <div class="desc">CIRCUIT TRAINING</div>
    <a target="_blank" href="../../assets/img/gallery-circuit.jpeg">
      <img src="../../assets/img/gallery-circuit.jpeg" alt="CIRCUIT TRAINING" width="600" height="400">
    </a>
  </div>
  
  <div class="gallery">
    <div class="desc">CYCLING</div>
    <a target="_blank" href="../../assets/img/gallery-cycling.jpeg">
      <img src="../../assets/img/gallery-cycling.jpeg" alt="CYCLING" width="600" height="400">
    </a>
  </div>

  <div class="gallery">
    <div class="desc">AEROBICS</div>
    <a target="_blank" href="../../assets/img/gallery-aerobics.jpeg">
      <img src="../../assets/img/gallery-aerobics.jpeg" alt="AEROBICS" width="600" height="400">
    </a>
  </div>
</div>
<!-- image gallery ends -->
